.file {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.file .header {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.file .button-container {
  width: 30px;
  height: 30px;
}

.file .header .right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.file .header .left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.file .header .collapse {
  width: 30px;
  height: 30px;
}

.file .header .collapse:hover {
  cursor: pointer;
}
