.sidebar {
  width: 25%;
  max-width: 400px;
  height: 100%;
  box-sizing: border-box;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: flex-start;
  padding: 10px;
}

.sidebar p {
  margin: 0;
}
